@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>粉丝福利券</title>

    <style>
        body {
            text-align: center;
        }

        #div_center {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <p><h4>想自己去找券？<a href="/Coupon/FindCoupon">点击这里</a></h4></p>
        </div>
        <div class="main">
            @*<div class="col-md-3">
                    <a href="http://sj.qq.com/myapp/detail.htm?apkName=com.alimama.moon">
                        <img src="/img/softicon/tblm_icon.png" width="94" height="94" />
                    </a>
                    <h4>&nbsp;&nbsp;淘宝联盟</h4>
                    <p><a class="btn btn-default" href="http://sj.qq.com/myapp/detail.htm?apkName=com.alimama.moon">进入下载 &raquo;</a></p>
                </div>*@
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $.getJSON("/api/RecommandGoods/GetRecommandGoodsList?curPage=0&pageSize=20&type=2&filter=").success(function (data) {
                $(".main").html("")
                $.each(data.data.DataList, function (i, item) {
                    $(".main").append("<div class='col-md-3'>"
                        + "<p><a href='" + item.link + "'><img src='" + item.image + "' width='280' height='200'/></a></p>"
                    + "<p width='280'>" + item.description + "</p>"
                    + "<p>现价：<font color='red'>" + item.price + "</font>&nbsp;&nbsp;<s>原价：" + item.oldprice + "</s></p>"
                    + "<p>推荐时间:<font color='blue'>" + item.recommendtime + "</font></p>"
                    + "<p><a class='btn btn-default' href='" + item.link + "'>点击领取优惠券</a></p>"
                    + "<br></div>");
                });
            })
    </script>
</body> 
</html>
