body {
 background-color: #F5F5F5 !important;
}
.header {
  filter: none !important;
  background-image: none !important;
  background-color: #48beff !important;
  box-shadow: 0 1px 1px 0 rgba(158,158,158,0.5);
}
.page-sidebar {
    background-color: #fff;
}
.header .navbar-nav li.dropdown .dropdown-toggle i {
    color: #fff !important;
}

