@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>关于闪荐</h3>
        <p>我们不生产商品，也不销售商品，我们只推荐我们用着好的产品，我们只推荐性价比高的商品，我们只会给您带来便宜和便利！</p>
        <p>我们的目标是净化微信朋友圈。淘宝客们把我们的朋友圈冲的乱七八糟，所以我们只能把淘宝客们请到《闪荐》中来分享商品。</p>
        <h3>成为特约用户</h3>
        <h5><font color='#FF4081'>成为特约用户，即可分享自己的商品，空闲时间就可以赚钱。如有需要请联系微信：ydxc608</font></h5>
        <h3>商务合作</h3>
        <h5><font color='#1849F8'>商务合作：xinglsx@126.com  微信:ydxc608</font></h5>
        <h3>官方主页</h3>
        官方主页:<a href='http://www.mingshukeji.com.cn'>http://www.mingshukeji.com.cn</a>
    </div>
</body>
</html>
