<div class="jumbotron">
    <h1>闪荐</h1>
    <p class="lead">以闪电的速度将优惠券推送给大家！以闪电的速度将性价比高的产品推送给大家！</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>关于闪荐</h2>
        <p>A闪荐是一款导购类APP。主要是为了连接淘宝客与买家。淘宝客门可以把自己买过的性价比高的商品推荐到闪荐中，
        并说明推荐理由以及自用或购买的证据（防刷单），通过人工审核后，即可展现在用户面前。
        用户可以根据自己的需求进行选择领取优惠券。</p>
        <p><a class="btn btn-default" href="~/Home/Aboutus">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><font color="blue">软件下载</font></h2>
        <p>目前只有Android版本。</p>
        <p>无需注册，大额优惠券随便领取！推广期间，1元即可成为特约用户，还可通过分享商品<font color="red">赚钱</font></p>
        <p>百分之百用户真实推荐！百分之百人工急速审核！</p>
        <p><a class="btn btn-default" href="~/Home/SjDownload">进入下载 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><font color="red">招募令</font></h2>
        <h5>安卓手机客户端刚刚上线，现招募100名特约用户，有淘宝账号，零基础即可加入！快来加入吧！</h5>
        <p><a class="btn btn-default" href="~/Home/Recruit">详细要求 &raquo;</a></p>
    </div>
</div>
