<div class="jumbotron">
    <h1>MSKJ</h1>
    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MSKJ目前仅推出了一款安卓手机APP[<a href="Home/GoodsIndex"><font color="red">闪荐</font></a>]
    为淘宝/天猫用户提供大量的购物优惠券！非常适合经常购物的朋友们使用！</p>
    <p class="lead">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MSKJ后续还将推出微信公众号，为广大买家提供更多优惠信息！
        敬请大家一起见证！
    </p>
    <p background_color="red"><a class="btn btn-default" href="~/Home/GoodsIndex">了解更多 &raquo;</a></p>
</div>

