@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1><font color="red">招募令</font></h1>
        <h3>手机APP刚刚上线，现招募100位淘宝客加盟，1元成为特约用户，可以上传自己分享的商品信息。</h3>
        <h4><b>基本要求：</b></h4>
        <p>1、对分享购物不感冒</p>
        <p>2、对业余赚钱有渴望</p>
        <p>3、肯专研，爱逛淘宝</p>
        <p>4、每天至少上传一件商品</p>
        <p>5、用Android手机的（没办法，不会开发苹果APP）</p>
        <p>6、电话、微信、姓名实名认证。</p>
        <p>7、熟悉淘宝联盟，清楚淘宝客的基本操作和分享规则的优先考虑。（不了解的，这有教程）</p>
        <h4><b>加盟流程：</b></h4>
        <p>下载闪荐 -> 注册闪荐账号 -> 完善个人资料 -> 加微信(ydxc608) -> 出示闪荐账号 -> 成为特约用户 -> 上传一个商品成功 -> 支付1元费用</p>
        <h4>商务合作</h4>
        <p><font color='#1849F8'>商务合作：xinglsx@126.com  微信:ydxc608</font></p>
        <h4>官方主页</h4>
        官方主页:<a href='http://www.mingshukeji.com.cn'>http://www.mingshukeji.com.cn</a>
    </div>
</body>
</html>
