@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>闪荐下载</title>
</head>
<body>
    <div class="jumbotron">
        <h2><b>应用描述</b></h2>
        <p class="lead">闪荐是一款导购类APP。主要是为了连接淘宝客与买家。淘宝客门可以把自己买过的性价比高的
        商品推荐到闪荐中，并说明推荐理由以及自用或购买的证据（防刷单），通过人工审核后，即可展现在用户面前。
        用户可以根据自己的需求进行选择领取优惠券。
        </p>
        <p> <a class="btn btn-default" target="_blank" href="http://www.mingshukeji.com.cn/Download/com.mingshu.goods.apk">点击下载 &raquo;</a></p>
        <h4>当前版本号为：<font color="red">1.1.0</font></h4>
<h6><p>2017-09-21  增加粉丝福利、发现界面，粉丝福利是专门给用户搜索粉丝福利券，发现界面目前只增加了移动网赚模块，后续会持续丰富，欢迎大家提出建议！
      修复了一些BUG，美化了一些界面！</p>
<p>2017-09-04  首次发布，功能包含欢迎页、导航页、注册、登录、查看商品、上传商品、审核商品、一件购买。</p></h6>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="/images/sj_guides/image_guide_1.png" class="img-rounded" width="250" height="444" />
        </div>
        <div class="col-md-3">
            <img src="/images/sj_guides/image_guide_2.png" class="img-rounded" width="250" height="444" />
        </div>
        <div class="col-md-3">
            <img src="/images/sj_guides/image_guide_3.png" class="img-rounded" width="250" height="444" />
        </div>
        <div class="col-md-3">
            <img src="/images/sj_guides/image_guide_4.png" class="img-rounded" width="250" height="444" />
        </div>
    </div>
</body>
</html>
